<mat-card>
    <mat-card-title>Owner List</mat-card-title>
    <mat-card-content>
      <mat-list>
        <div class="Row" style="margin-left: 2.8%;">
            <div class="Column" > Name </div>
            <div class="Column" style="padding-left: 1%;"> DNI </div>
            <div class="Column" style="padding-left: 2%;"> Profession </div>  
            <div class="Column" style="width: 10%; padding-left: 3.5%;"> Check </div>  
        </div>
        <mat-list-item *ngFor="let owner of owners">
            <a mat-button [routerLink]="['/owner-edit', owner.dni]">
                <div class="Row">
                    <div class="Column"> {{owner.name}} </div>
                    <div class="Column"> {{owner.dni}} </div>
                    <div class="Column"> {{owner.profession}} </div>  
                </div>
            </a>
            <mat-checkbox arial-checked=false id={{owner.dni}} (click)="ownerSelected(owner._links.self.href)"></mat-checkbox>
            <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  
    <button mat-stroked-button color="primary"  [routerLink]="['/owner-edit']">Add new owner</button>
    <button mat-stroked-button color="primary" (click)="removeSelected()" >Delete</button>
    <button mat-stroked-button color="primary"  [routerLink]="['/car-list']">Atras</button>
  </mat-card>