<mat-card>
    <mat-card-title>Owner List</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let owner of owners">
            <a mat-button [routerLink]="[]">
                <div class="Row">
                    <div class="Column"> {{owner.name}} </div>
                    <div class="Column"> {{owner.dni}} </div>
                    <div class="Column"> {{owner.profession}} </div>  
                </div>
            </a>
            <mat-checkbox arial-checked=false id={{owner.dni}}></mat-checkbox>
            <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  
    <button mat-stroked-button color="primary"  [routerLink]="[]">Add new owner</button>
    <button mat-stroked-button color="primary" [routerLink]="[]">Delete</button>
  </mat-card>